/* Overall layout */
body {
  font-family: var(--sl-font-sans);
  margin: 0;
}
.main-grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}
.main-grid > header {
  grid-area: header;
}
.main-grid > nav {
  grid-area: nav;
}
.main-grid > main {
  grid-area: main;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 100vw;
}
.main-grid > footer {
  grid-area: footer;
}
@media (min-width: 48em) {
  .main-grid {
    grid-template-columns: 15em 3fr;
    grid-template-rows: min-content minmax(0, 1fr) min-content;
    grid-template-areas:
      "header header"
      "nav    main"
      "nav    footer";
  }
}

/* Main header */
.main-grid > header {
  background-color: var(--sl-color-neutral-100);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}
.main-grid > header sl-icon-button {
  font-size: var(--sl-font-size-2x-large);
}
.main-grid > header h1 {
  flex-grow: 1;
  margin: 0;
}
#theme-selector sl-button::part(base) {
  color: var(--sl-color-neutral-500);
}
html.sl-theme-dark .only-light, html:not(.sl-theme-dark) .only-dark {
  display: none !important;
}

/* Main Navigation */
.main-grid > nav {
  border-right: 0.125em solid var(--sl-color-neutral-100);
}
.main-grid > nav sl-tree {
  --x-indent-guide-width: 0.125em;
}

/* Tables */
.table-scroll {
  overflow-x: auto;
  max-width: 100%;
}
table {
  border-spacing: 0;
  font-size: 1rem;
  inline-size: 100%;
  text-align: start;
}
thead>tr>th {
  border-block-end: 0.0625rem solid var(--sl-color-neutral-700);
}
:is(th, td) {
  inline-size: auto;
  padding: 0.5rem;
  text-align: inherit;
}
table>tbody>tr:nth-child(odd) {
  background-color: var(--sl-color-neutral-50);
}
table td:last-child sl-button-group {
  display: flex;
  justify-content: flex-end;
}

/* Page header  & action buttons */
main > header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* Forms */
sl-alert:has(+ form) {
  margin-bottom: var(--sl-spacing-2x-large);
}
fieldset {
  align-items: center;
  border: 0;
  display: grid;
  gap: var(--sl-spacing-medium);
  margin: 0 0 var(--sl-spacing-medium);
  padding: 0;
}
form sl-button-group {
  margin-top: var(--sl-spacing-2x-large);
}
@media screen and (max-width: 48rem) {
  fieldset {
    grid-template-columns: 1fr !important;
  }
}

/* Pagination */
nav.pagination {
  display: flex;
  justify-content: center;
  margin-top: var(--sl-spacing-2x-large);
  margin-bottom: var(--sl-spacing-2x-large);
}
