{{ define "modules/pagination" }}
{{ $page := .Current }}
{{ with .Links }}
  <nav class="pagination">
    <sl-button-group label="Pagination">
      {{ range . }}
        <sl-button hx-get="{{ .URL }}" {{- if .IsActive $page }} variant="neutral"{{ end }} {{- if .IsDisabled $page }} disabled{{ end }}>
          {{- if .IsPrev }}Previous{{ end -}}
          {{- if .IsNext }}Next{{ end -}}
          {{- if .IsGap }}&ellipsis;{{ end -}}
          {{- if .IsNumber }}{{ .Page }}{{ end -}}
        </sl-button>
      {{ end }}
    </sl-button-group>
  </nav>
{{ end }}
{{ end }}
