{{ define "modules/pagination" }}
{{ $page := .Current }}
{{ with .Links }}
<nav aria-label="pagination">
  <ul class="pagination">
    {{ range . }}
      <li class="page-item {{- if .IsDisabled $page  }} disabled{{ end }} {{- if .IsActive $page }} active{{ end }}">
        <a hx-get="{{ .URL }}" href="{{ .URL }}" class="page-link">
          {{- if .IsPrev }}Previous{{ end -}}
          {{- if .IsNext }}Next{{ end -}}
          {{- if .IsGap }}&ellipsis;{{ end -}}
          {{- if .IsNumber }}{{ .Page }}{{ end -}}
        </a>
      </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
{{ end }}
