{{ define "header" -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ with .Title }}{{ . }} | {{ end }}Sparky</title>
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/style.css">
  </head>
  <body>
    <header>
      <h1>Header</h1>
    </header>
    <aside>
      <nav>
        <ol>
          <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
          <li>
            <span>Users</span>
            <ol>
              <li><a href="/admin/users">Users</a></li>
              <li><a href="/admin/users/add">Add User</a></li>
            </ol>
          </li>
        </ol>
      </nav>
    </aside>
    <main>
{{ end }}

{{ define "footer" }}
    </main>
    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>
{{- end }}
