{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO: Title</title>
  </head>
  <body>
    <header>
      <h1>Header</h1>
    </header>
    <main>
{{ end }}

{{ define "footer" }}
    </main>
    <aside>
      <nav>
        <ol>
          <li><a href="#">Nav Item</a></li>
        </ol>
      </nav>
    </aside>
    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>
{{ end }}
