{{ define "login-form" }}
<form
  hx-post="/admin/login"
  hx-target="this"
  hx-swap="outerHTML"
  >
  <article class="border">
    <h5>Sparky Login</h5>
    {{ if or .ErrorDatabase .ErrorSession }}
    <div class="snackbar error">{{ .Error }}</div>
    {{ end }}
    <div class="field label extra border{{ if .ErrorEmail }} invalid{{ end }}">
      <input type="email" id="email" name="email" value="{{ .Email }}" required>
      <label for="email">Email</label>
      {{ if .ErrorEmail }}<span class="error">{{ .Error }}</span>{{ end }}
    </div>
    <div class="field label extra border{{ if .ErrorPassword }} invalid{{ end }}">
      <input type="password" id="password" name="password" maxlength="72" required>
      <label for="password">Password</label>
      {{ if .ErrorPassword }}<span class="error">{{ .Error }}</span>{{ end }}
    </div>
    <div>
      <button type="submit" class="btn">Login</button>
    </div>
  </article>
</form>
{{ end }}
