{{ define "login-form" }}
<form
  hx-post="/admin/login"
  hx-target="this"
  hx-swap="outerHTML"
  >
  {{ if or .ErrorDatabase .ErrorSession }}
  <sl-alert variant="danger" open>
    <sl-icon slot="icon" name="exclaimation-octogon"></sl-icon>
    {{ .Error }}
  </sl-alert>
  {{ end }}
  <fieldset>
    <sl-input type="email" label="Email" name="email" value="{{ .Email }}" {{- if .ErrorEmail }}help-text="{{ .Error }}"{{ end }}></sl-input>
    <sl-input type="password" label="Password" name="password" maxlength="72" {{- if .ErrorPassword }}help-text="{{ .Error }}"{{ end }}></sl-input>
    <sl-button type="submit" variant="primary">Login</sl-button>
  </fieldset>
</form>
{{ end }}
