{{ define "login-form" }}
<form
  hx-post="/admin/login"
  hx-target="this"
  hx-swap="outerHTML"
  >
  <article class="border">
    <h5>Sparky Login</h5>
    <div class="field label extra border{{ with .ErrorEmail }} invalid{{ end }}">
      <input type="email" id="email" name="email" value="{{ .Email }}" required>
      <label for="email">Email</label>
      {{ with .ErrorEmail }}<span class="error">{{ . }}</span>{{ end }}
    </div>
    <div class="field label extra border{{ with .ErrorPassword }} invalid{{ end }}">
      <input type="password" id="password" name="password" required>
      <label for="password">Password</label>
      {{ with .ErrorPassword }}<span class="error">{{ . }}</span>{{ end }}
    </div>
    <div>
      <button type="submit" class="btn">Login</button>
    </div>
  </article>
</form>
{{ end }}
