{{ define "user/form" }}
{{- template "header" . }}
<h2>Add User</h2>
<form method="post" action="{{ .FormAction }}" style="display: grid; gap: var(--sl-spacing-medium); grid: 1fr / 1fr 1fr;">
  <sl-input name="firstName" label="First Name" value="{{ .User.FirstName }}" autocomplete="off" required></sl-input>
  <sl-input name="lastName" label="Last Name" value="{{ .User.LastName }}" required></sl-input>
  <sl-input name="email" type="email" label="Email" value="{{ .User.Email }}" required {{- with .ErrorEmail }} help-text="{{ . }}" data-user-invalid {{ end }}></sl-input>
  <sl-input name="password" type="password" label="Password" maxlength="72" password-toggle required {{- with .ErrorPassword }} help-text="{{ . }}" data-user-invalid {{ end }}></sl-input>
  <sl-button-group>
    <sl-button type="submit" variant="primary">Submit</sl-button>
  </sl-button-group>
</form>
{{ template "footer" . -}}
{{ end }}
