{{ define "user/list" }}
<header>
  <h2>Users</h2>
  <sl-button-group class="header-buttons">
    <sl-button hx-get="/admin/users/add">Add User</sl-button>
  </sl-button-group>
</header>
{{ template "modules/pagination" .Params.Pagination }}
<div class="table-scroll">
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range .Users }}
        <tr>
          <td>{{ .FirstName }}</td>
          <td>{{ .LastName }}</td>
          <td>{{ .Email }}</td>
          <td>{{ if .Active }}<sl-icon name="check-lg" label="Active user" style="color: var(--sl-color-success-500);"></sl-icon>{{ end }}</td>
          <td>
            <sl-button-group>
              <sl-button hx-get="/admin/users/edit/{{ .UserId }}" size="small" variant="primary">Edit</sl-button>
              <sl-button hx-get="/admin/users/delete/{{ .UserId }}" size="small" variant="danger">Delete</sl-button>
            </sl-button-group>
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
