{{ define "user/login" -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <title>Login | Sparky</title>
    <style type="text/css">
      @media screen and (prefers-color-scheme: dark) {
        body {
          background-color: #2e323e;
          color: #cbd0da;
        }
      }
    </style>
  </head>
  <body>
    <main>
      {{ template "user/login-form" }}
    </main>
  </body>
</html>
{{- end }}
